<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h1>
  <p>A productive web framework that<br/>does not compromise speed and maintainability.</p>
</section>

<p>
  <%= @success? %>
</p>

<%= form_for @conn, "/test", fn f -> %>
<form method="post" action="/test">
  <label for="name">
    Name
    <input type="text" name="name" id="name"/>
  </label>
  <label for="state">
    State
    <select id="state">
      <option value="IN">Indiana</option>
      <option value="IL">Illinois</option>
      <option value="CA">California</option>
    </select>
  </label>
  <label for="description">
    Description
    <textarea type="text" id="description" rows="12"></textarea>
  </label>

  <button type="submit">Submit</button>
<% end %>

<section class="row">
  <article class="column">
    <h2>Resources</h2>
    <ul>
      <li>
        <a href="https://hexdocs.pm/phoenix/overview.html">Guides &amp; Docs</a>
      </li>
      <li>
        <a href="https://github.com/phoenixframework/phoenix">Source</a>
      </li>
      <li>
        <a href="https://github.com/phoenixframework/phoenix/blob/v1.4/CHANGELOG.md">v1.4 Changelog</a>
      </li>
    </ul>
  </article>
  <article class="column">
    <h2>Help</h2>
    <ul>
      <li>
        <a href="https://elixirforum.com/c/phoenix-forum">Forum</a>
      </li>
      <li>
        <a href="https://webchat.freenode.net/?channels=elixir-lang">#elixir-lang on Freenode IRC</a>
      </li>
      <li>
        <a href="https://twitter.com/elixirphoenix">Twitter @elixirphoenix</a>
      </li>
    </ul>
  </article>
</section>
